.row {
   
    margin-right: 0 !important;
    margin-left: 0 !important;
}
 
 .appointment-procedure{
    background: #E5E5E5;
 }
 .appoint-information{
     background-color: #fff;
 }
 .information{
     padding:2rem;
     
 }
 .btn-information{
    border-radius: 5px;
    border:#FFFFFF;
    padding:0.5rem 1.5rem;
    margin-right:1rem;
 }
 .btn-cancel{
    background: rgba(153, 204, 255, 0.6);
 }
 .btn-edit{
    background: #99CCFF;
 }
 .btn-delete{
    background: #F74B4B;
 }
 .btn-information{
    text-align: end;
 }